<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158315296857-9mt2mbvk4qnqjnr0c8p95qvadlmf1lti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158315296857-9mt2mbvk4qnqjnr0c8p95qvadlmf1lti</string>
	<key>API_KEY</key>
	<string>AIzaSyCOuyD66ZZFJa3SMGCKJNzF1v5g-5t0Q4E</string>
	<key>GCM_SENDER_ID</key>
	<string>158315296857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iHackHealth.PediatricPancreasStoryboard</string>
	<key>PROJECT_ID</key>
	<string>pediatric-pancreatitis</string>
	<key>STORAGE_BUCKET</key>
	<string>pediatric-pancreatitis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158315296857:ios:9fa39035d6503e7ab5d948</string>
	<key>DATABASE_URL</key>
	<string>https://pediatric-pancreatitis.firebaseio.com</string>
</dict>
</plist>